<div id="issue_${issue.id}" class="issue span3" ${style}>
  <h2>
  <label>
  <input type="checkbox" class="check" style="margin-bottom:4px;" />
  ${title}
  ${icon}
  </label>
  <span class="time"></span>
  </h2>
  <div class="btn-toolbar">
  <div class="btn-group">aaaa
  <a class="card btn ${btn_type}" href="#">${disp}</a>
  <a class="ddt btn btn-warning" href="#">DDT</a>
  <a class="cls btn btn-danger" href="#">Close</a>
  <a class="edit btn" href="#">Edit</a>
  </div>
  </div>
  <div class="body">${issue.body}</div>
</div>
