.issues {
  .issue {
    margin-top:20px;
    position:relative;
  }
  .issue-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  .work-log {
    position: relative;
  }
  .work-log-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}
