.issues {
  .issue {
    margin-top: 20px;
    margin-bottom: 15px;
    position:relative;
  }
  .issue-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  .comment {
    position: relative;
  }
  .comment-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  .work-log {
    position: relative;
  }
  .work-log-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}
